:server: <your-IRC-server>
:port: <your-IRC-port>
:channel: <your-IRC-channel-without-#>
:suffix: <bot-nickname-suffix>
:prefix: <command-prefix>
:redmine_enabled: <true-or-false>
:redmine_url: <redmine-url>
:redmine_api_key: <your-redmine-api-key>
