:server: <your-IRC-server>
:port: <your-IRC-port>
:channel: <your-IRC-channel-without-#>
:suffix: <bot-nickname-suffix>
:prefix: <command-prefix>
:redmine_enabled: <true-or-false>
:redmine_url: <redmine-url>
:redmine_api_key: <your-redmine-api-key>
:debug_log_enabled: <true-or-false>
:debug_log_path: <path-to-debug-log-file>
:github_enabled: <true-or-false>
:github_access_key: <your-github-access-key>
:nickserv_id_enabled: <true-or-false>
:nickserv_password: <your-nickserv-password>